<!doctype html>
<html class="no-js" lang="">


<!-- Mirrored from htmldemo.net/minoan-v1/minoan/index-4.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 17 Feb 2024 13:30:20 GMT -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Aromatica</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/logo/favicon.ico">

    <!-- Google Fonts
		============================================ -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- 
    Toastify css link
    ============================= -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <!-- Font Awesome CSS
		============================================ -->
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <!-- Mean Menu CSS
		============================================ -->
    <link rel="stylesheet" href="assets/css/meanmenu.min.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="assets/css/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/owl.theme.css">
    <link rel="stylesheet" href="assets/css/owl.transitions.css">
    <!-- nivo-slider css
		============================================ -->
    <link rel="stylesheet" href="assets/css/nivo-slider.css">
    <!-- Price slider css
		============================================ -->
    <link rel="stylesheet" href="assets/css/jquery-ui-slider.css">
    <!-- Simple Lence css
		============================================ -->
    <link rel="stylesheet" type="text/css" href="assets/css/jquery.simpleLens.css">
    <link rel="stylesheet" type="text/css" href="assets/css/jquery.simpleGallery.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="assets/css/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="assets/css/normalize.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="assets/css/main.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="assets/style.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="assets/css/responsive.css">

</head>


<style>
    .quantity {
        display: flex;
        align-items: center;
    }

    .quantity input {
        width: 30px;
        /* Adjust the width as needed */
        text-align: center;
        margin: 0 5px;
    }
</style>



<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <!-- Header Area -->
    <div class="header-area home-4-header-area">
        <!-- Header top bar -->
        <div class="header-top-bar">
            <div class="container">
                <div class="header-top-inner">
                    <div class="row">
                        <div class="col-md-8 col-sm-12">
                            <div class="header-top-left">
                                <div class="phone">
                                    <label>Call us:</label> (+88) 01737803547
                                </div>
                                <div class="e-mail">
                                    <label>Email:</label> admin@bootexperts.com
                                </div>
                               
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="header-top-right">
                                <!-- Header Social Icon -->
                                <div class="header-social-icon">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End Header Top bar -->
        <!-- Header bottom -->
        <div class="header-bottom another-home-header-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-3 col-sm-12">
                        <div class="heder-bottom-left">
                            <!-- Header logo -->
                            <div class="header-logo">
                                <a href="index.html"><img src="assets/img/logo/logo-2.webp" alt="logo"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-9 col-sm-12">
                        <div class="header-bottom-right">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="header-search-cart-area">
                                        <!-- Header Cart Area-->
                                        <div class="header-cart-area">
                                            <div class="header-cart">
                                                <ul>
                                                    <li>
                                                        <a href="/cart">
                                                            <i class="fa fa-shopping-cart"></i>
                                                            <span class="my-cart">My cart</span>
                                                            <span class="badge">2</span>
                                                        </a>
                                                        <!-- <ul>
															<li>
																<div class="cart-list">
																	<div class="cart-list-item">
																		<div class="cart-list-img">
																			<a href="#"><img src="assets/img/cart/c1.webp"
																					alt="cart" /></a>
																		</div>
																		<div class="cart-content">
																			<a href="#">Etiam gravida</a>
																			<p>1 x <span>$432.00</span></p>
																		</div>
																		<div class="cart-button">
																			<a href="#"><i class="fa fa-pencil"></i></a>
																			<a href="#"><i class="fa fa-times"></i></a>
																		</div>
																	</div>
																</div>
																<div class="cart-list cart-list-two">
																	<div class="cart-list-item">
																		<div class="cart-list-img">
																			<a href="#"><img src="assets/img/cart/c2.webp"
																					alt="cart" /></a>
																		</div>
																		<div class="cart-content">
																			<a href="#">Etiam gravida</a>
																			<p>1 x <span>$432.00</span></p>
																		</div>
																		<div class="cart-button">
																			<a href="#"><i class="fa fa-pencil"></i></a>
																			<a href="#"><i class="fa fa-times"></i></a>
																		</div>
																	</div>
																</div>
																<div class="cart-subtotal">
																	<p>Subtotal: <span>$1,131.00</span></p>
																</div>
																<div class="cart-action">
																	<button type="button"
																		class="btn"><span>checkout</span> <i
																			class="fa fa-long-arrow-right"></i></button>
																</div>
															</li>
														</ul> -->
                                                    </li>
                                                    <li class="mt-2">
                                                        <a href="/wishlist">
                                                            <i class="fa fa-heart"></i>
                                                            <span class="my-cart">Wishlist</span>
                                                            <span class="badge">3</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div><!-- End Header Cart Area-->
                                        <!-- Header Search -->
                                        <div class="header-search">
                                            <form action="#">
                                                <input type="text" placeholder="SEARCH...">
                                                <button type="button" class="btn"><i class="fa fa-search"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- Main Menu Area -->
                                    <div class="main-menu-area another-home-mainmenu-area home-4-main-menu-area">
                                        <!-- Main Menu -->
                                        <div class="main-menu d-none d-lg-block">
                                            <nav>
                                                <ul class="main-ul">
                                                    <li class="sub-menu-li"><a href="/" class="active">Home<i
                                                                class=""></i></a>
                                                    </li>

                                                    <li><a href="/shop"><span class="label-menu">Sale</span> Shop<i
                                                                class=""></i></a>
                                                    </li>

                                                    <li class="small-megamenu-li"><a href="shop.html">About us<i
                                                                class=""></i></a>
                                                    </li>

                                                    <li><a href="shop.html">Contact<i class=""></i></a>
                                                    </li>

                                                    <li class="sub-menu-li"><a href="#" class="new-arrivals">Blog<i
                                                                class=""></i></a>
                                                    </li>


                                                    <% if (locals.user) { %>
                                                        <li class="dropdown nav-item">
                                                            <a class="" data-bs-toggle="dropdown" href="#"
                                                                id="dropdownAccount" aria-expanded="false">
                                                                Account </a>
                                                            <!-- <img class="svgInject" alt="Account" src="" style="height: 25px; width: 25px; margin-top: 2px;"> -->

                                                            <div class="dropdown-menu dropdown-menu-end"
                                                                aria-labelledby="dropdownAccount">
                                                                <a class="dropdown-item" href="/profile"><i
                                                                        class="material-icons md-perm_identity"></i>
                                                                    Profile</a>
                                                                <div class="dropdown-divider"></div>
                                                                <a class="dropdown-item text-danger" href="/logout"><i
                                                                        class="material-icons md-exit_to_app"></i>
                                                                    Logout</a>
                                                            </div>
                                                        </li>
                                                        <% } else { %>
                                                            <!-- Displayed when the user is not logged in -->
                                                            <li class="ml-25 pr-5"><a href="/login">Login</a></li>

                                                            <% } %>
                                                </ul>
                                            </nav>
                                        </div>
                                        <!-- End Main Menu -->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Area ------------------------------------------------------------------------->





    <div class="my-account-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <div class="my-account-title">
                        <h2>Edit Address</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-sm-12">
                    <div class="resestered-customers customer">
                        <div class="customer-inner">
                            <div class="user-title">
                                <h2><i class="fa fa-file-text"></i>you can to edit your address</h2>
                            </div>

                            <div class="account-form">
                                <form class="form-horizontal address-form" data-address-id="<%=addressToEdit._id%>"
                                    id="edit-address-form">
                                    <!-- User ID field, you may want to pass this dynamically from the server -->

                                    <div class="form-group">
                                        <label for="addressType">Address Type <sup>*</sup></label>
                                        <div><span class="text-danger" id="addressTypeError"></span></div>
                                        <select required="" name="addressType" id="editAddressType"
                                            class="form-control w-50">
                                            <option value="Home" <%=addressToEdit.addressType==='Home' ? 'selected' : ''
                                                %>>Home</option>
                                            <option value="Work" <%=addressToEdit.addressType==='Work' ? 'selected' : ''
                                                %>>Work</option>
                                            <option value="Other" <%=addressToEdit.addressType==='Other' ? 'selected'
                                                : '' %>>Other</option>
                                        </select>

                                    </div>


                                    <div class="form-group">
                                        <label for="name">Name <sup>*</sup></label>
                                        <div><span class="text-danger" id="nameError"></span></div>
                                        <input type="text" name="name" id="editName" class="form-control"
                                            value="<%=addressToEdit.name%>" style="width: 100%;">
                                    </div>

                                    <div class="form-group">
                                        <label for="addressLine">Address Line <sup>*</sup></label>
                                        <div><span class="text-danger" id="addressLineError"></span></div>
                                        <textarea name="addressLine" id="editAddressLine"
                                            class="form-control w-100"><%=addressToEdit.addressLine%></textarea>
                                    </div>


                                    <div class="form-group">
                                        <label for="city">City <sup>*</sup></label>
                                        <div><span class="text-danger" id="cityError"></span></div>
                                        <input type="text" name="city" id="editCity" class="form-control w-100"
                                            value="<%=addressToEdit.city%>">
                                    </div>


                                    <div class="form-group">
                                        <label for="state">State <sup>*</sup></label>
                                        <div><span class="text-danger" id="stateError"></span></div>
                                        <input type="text" name="state" id="editState" class="form-control w-100"
                                            value="<%=addressToEdit.state%>">
                                    </div>

                                    <div class="form-group">
                                        <label for="pincode">Pincode <sup>*</sup></label>
                                        <div><span class="text-danger" id="pinError"></span></div>
                                        <input type="text" name="pincode" id="editPincode" class="form-control w-50"
                                            value="<%=addressToEdit.pincode%>">
                                    </div>

                                    <div class="form-group">
                                        <label for="phone">Phone <sup>*</sup></label>
                                        <div><span class="text-danger" id="phoneError"></span></div>
                                        <input type="text" name="phone" id="editPhone" class="form-control w-100"
                                            value="<%=addressToEdit.phone%>">
                                    </div>

                                    <div class="form-group">
                                        <label for="altPhone">Alternate Phone <sup>*</sup></label>
                                        <div><span class="text-danger" id="altPhoneError"></span></div>
                                        <input type="text" name="altPhone" id="editAltphone" class="form-control w-100"
                                            value="<%=addressToEdit.altPhone%>">
                                    </div>
                                    <!-- Add other address fields here -->

                                    <div class="user-bottom fix">
                                        <button class="btn" type="submit" name="addAddress" onclick="">Update
                                            Address</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- <p class="text-center">Already have an account? <a href="/login">Login</a></p> -->
                </div>
            </div>
        </div>
    </div>



    <!-- Footer area start---------------------------------------------------------------------------->
    <div class="footer-area mt-5">
        <!-- Footer Top -->
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <!-- Footer Left -->
                        <div class="footer-left">
                            <!-- Footer Logog -->
                            <div class="footer-logo">
                                <a href="index.html"><img src="assets/img/logo/logo-footer.webp" alt="logo"></a>
                            </div>
                            <div class="footer-static-content">
                                <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium
                                    lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram.</p>
                            </div>
                            <div class="footer-payment">
                                <h2>Payments</h2>
                                <ul>
                                    <li><a href="#"><img src="assets/img/logo/payment.webp" alt="payment"></a></li>
                                </ul>
                            </div>
                        </div><!-- End Footer Left -->
                    </div>
                    <div class="col-lg-8 footer-right-col">
                        <!-- Footer Right -->
                        <div class="footer-right">
                            <div class="footer-newsletter">
                                <h2>Newsletter</h2>
                                <form action="#">
                                    <input type="text" placeholder="Your Email" title="Sign up for our newsletter"
                                        required>
                                    <button type="submit">Subscribe</button>
                                </form>
                            </div>
                            <div class="information-link">
                                <div class="single-information-link">
                                    <h2>Informations</h2>
                                    <ul>
                                        <li><a href="#">Sitemap</a></li>
                                        <li><a href="#">Privacy Policy</a></li>
                                        <li><a href="#">Your Account</a></li>
                                        <li><a href="#">Advanced Search</a></li>
                                        <li><a href="#">Contact Us</a></li>
                                    </ul>
                                </div>
                                <div class="single-information-link">
                                    <h2>other static link</h2>
                                    <ul>
                                        <li><a href="#">Product Recall</a></li>
                                        <li><a href="#">Gift Vouchers</a></li>
                                        <li><a href="#">Returns and Exchanges</a></li>
                                        <li><a href="#">Shipping Options</a></li>
                                        <li><a href="#">Help & FAQs</a></li>
                                    </ul>
                                </div>
                                <div class="single-information-link">
                                    <h2> My account </h2>
                                    <ul>
                                        <li><a href="#">My orders</a></li>
                                        <li><a href="#">My credit slips</a></li>
                                        <li><a href="#">My addresses</a></li>
                                        <li><a href="#">My personal info</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- End Footer Left -->
                    </div>
                </div>
            </div>
        </div><!-- End Footer Top -->
        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <div class="container">
                <!-- Copyright -->
                <div class="copyright">
                    <p>Copyright &copy; <a href="https://hasthemes.com/">HasThemes</a> All Rights Reserved.</p>
                </div>
            </div>
        </div><!-- End Footer Bottom -->
    </div>
    <!-- End Footer area -->
    <!-- QUICKVIEW PRODUCT -->
    <div id="quickview-wrapper">
        <!-- Modal -->
        <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-product">
                            <div class="product-images">
                                <div class="main-image images">
                                    <img alt="product" src="assets/img/product/sp2.webp">
                                </div>
                            </div><!-- .product-images -->

                            <div class="product-info">
                                <h1>Cras neque metus</h1>
                                <div class="price-box">
                                    <p class="price"><span class="special-price"><span
                                                class="amount">$155.00</span></span></p>
                                </div>
                                <a href="single-product.html" class="see-all">See all features</a>
                                <div class="quick-add-to-cart">
                                    <form method="post" class="cart">
                                        <div class="add-to-box add-to-box2">
                                            <div class="add-to-cart">
                                                <div class="input-content">
                                                    <label for="qty">Qty:</label>
                                                    <input type="button" value="-" onclick="" class="qty-decrease">
                                                    <input type="text" name="qty" id="qty" maxlength="12" value="1"
                                                        title="Qty" class="input-text qty">
                                                    <input type="button" value="+" onclick="" class="qty-increase">
                                                </div>
                                                <button class="btn" type="button"><span>Add to cart</span></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="quick-desc">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est
                                    tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis
                                    justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id
                                    nulla.
                                </div>
                                <div class="social-sharing">
                                    <div class="widget widget_socialsharing_widget">
                                        <h3 class="widget-title-modal">Share this product</h3>
                                        <ul class="social-icons">
                                            <li><a target="_blank" title="Facebook" href="#"
                                                    class="facebook social-icon"><i class="fa fa-facebook"></i></a></li>
                                            <li><a target="_blank" title="Twitter" href="#"
                                                    class="twitter social-icon"><i class="fa fa-twitter"></i></a></li>
                                            <li><a target="_blank" title="Pinterest" href="#"
                                                    class="pinterest social-icon"><i class="fa fa-pinterest"></i></a>
                                            </li>
                                            <li><a target="_blank" title="Google +" href="#"
                                                    class="gplus social-icon"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a target="_blank" title="LinkedIn" href="#"
                                                    class="linkedin social-icon"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!-- .product-info -->
                        </div><!-- .modal-product -->
                    </div><!-- .modal-body -->
                </div><!-- .modal-content -->
            </div><!-- .modal-dialog -->
        </div><!-- END Modal -->
    </div><!-- END QUICKVIEW PRODUCT -->
    <!--Footer end area------------------------------------------------------------------------->

    <!--jquery include-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



    <script>


        $(document).ready(function () {
            $('#edit-address-form').submit(function (event) {
                event.preventDefault();
                // get address id
                const addressId = $(this).data('address-id')

                // get body value
                let addressType = $('#editAddressType').val().trim();
                let name = $('#editName').val().trim();
                let addressLine = $('#editAddressLine').val().trim();
                let city = $('#editCity').val().trim();
                let state = $('#editState').val().trim();
                let pincode = $('#editPincode').val().trim();
                let phone = $('#editPhone').val().trim();
                let altPhone = $('#editAltphone').val().trim();

                let nameRegex = /^[a-zA-Z]+(?: [a-zA-Z]+)*$/;
                let pinRegex = /^[1-9][0-9]{5}$/;
                let phoneRegex = /^[0-9]{10}$/;

                // validation for name
                if (name === "" || name === null) {
                    $('#nameError').text('Field is required');
                    return false
                }
                else if (!nameRegex.test(name)) {
                    $('#nameError').text('Please enter a valid name');
                    return false
                }
                else {
                    $('#nameError').hide();
                }

                // validation for address line
                if (addressLine === "" || addressLine === null) {
                    $('#addressLineError').text('Field is required');
                    return false
                }
                else if (addressLine.length < 10) {
                    $('#addressLineError').text('Atleast enter 10 characters');
                    return false
                }
                else {
                    $('#addressLineError').hide();
                }

                // validation for city
                if (city === "" || city === null) {
                    $('#cityError').text('Field is required');
                    return false
                }
                else if (!nameRegex.test(city)) {
                    $('#cityError').text("Please enter a valid city name");
                    return false
                }
                else {
                    $('#cityError').hide();
                }

                // validtion for state
                if (state === "" || state === null) {
                    $('#stateError').text('Field is required');
                    return false
                }
                else if (!nameRegex.test(state)) {
                    $('#stateError').text('Please enter a valid state name');
                    return false
                }
                else {
                    $('#stateError').hide();
                }


                // validation for pincode
                if (pincode === "" || pincode === null) {
                    $('#pinError').text('Field is required');
                    return false
                }
                else if (!pinRegex.test(pincode)) {
                    $('#pinError').text('Please enter a valid pincode');
                    return false
                }
                else {
                    $('#pinError').hide()

                }



                // validation for phone
                if (phone === "" || phone === null) {
                    $('#phoneError').text('Field is required');
                    return false
                }
                else if (!phoneRegex.test(phone)) {
                    $('#phoneError').text('Please enter a valid phone number');
                    return false
                }
                else if (phone.length < 10 || phone.length > 10) {
                    $('#phoneError').text('Should contain 10 digits');
                    return false
                }
                else {
                    $('#phoneError').hide();
                }


                // validation for alternate phone
                if (altPhone === "" || altPhone === null) {
                    $('#altPhoneError').text('Field is required');
                    return false
                }
                else if (!phoneRegex.test(altPhone)) {
                    $('#altPhoneError').text('Please enter a valid phone number');
                    return false
                }
                else if (altPhone.length < 10 || altPhone.length > 10) {
                    $('#altPhoneError').text('Should contain 10 digits');
                    return false
                }
                else if (altPhone === phone) {
                    $('#altPhoneError').text('Alternate sholud different from the phone number')
                }
                else {
                    $('#altPhoneError').hide();
                }




                $.ajax({
                    url: `/editAddress?id=${addressId}`,
                    method: "post",
                    contentType: 'application/json',
                    data: JSON.stringify({

                        addressType: addressType,
                        name: name,
                        addressLine: addressLine,
                        city: city,
                        state: state,
                        pincode: pincode,
                        phone: phone,
                        altPhone: altPhone
                    }),
                    success: function (response) {
                        if (response.status === true) {

                            Toastify({
                                text: response.message,
                                duration: 3000,
                                close: true,
                            }).showToast();

                            setTimeout(() => {
                                window.location.href = "/profile"
                            }, 3000);
                        }
                        else {
                            Toastify({
                                text: response.message || "Please try again",
                                duration: 3000,
                                close: true,
                                backgroundColor: 'red'
                            }).showToast();
                        }
                    },
                    error: function (error) {
                        console.log(error);
                        Toastify({
                            text: 'Something wrong, Please try again.',
                            duration: 3000,
                            close: true,
                            backgroundColor: 'red'
                        }).showToast();
                    }
                })
            })
        })

    </script>


    <!-- Sweet alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Toastify js -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>


    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- jQuery 1.12.4 (remove if not needed) -->
    <script src="assets/js/vendor/jquery-1.12.4.min.js"></script>

    <!-- Nivo Slider JS -->
    <script src="assets/js/jquery.nivo.slider.pack.js"></script>

    <!-- Mean Menu JS -->
    <script src="assets/js/jquery.meanmenu.min.js"></script>

    <!-- Wow JS -->
    <script src="assets/js/wow.min.js"></script>

    <!-- Price-slider JS -->
    <script src="assets/js/jquery-price-slider.js"></script>

    <!-- Modernizr JS -->
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>

    <!-- Simple Lens JS -->
    <script type="text/javascript" src="assets/js/jquery.simpleGallery.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery.simpleLens.min.js"></script>

    <!-- Owl.carousel JS -->
    <script src="assets/js/owl.carousel.min.js"></script>

    <!-- ScrollUp JS -->
    <script src="assets/js/jquery.scrollUp.min.js"></script>

    <!-- jQuery Collapse JS -->
    <script src="assets/js/jquery.collapse.js"></script>

    <!-- Plugins JS -->
    <script src="assets/js/plugins.js"></script>

    <!-- Main JS -->
    <script src="assets/js/main.js"></script>


</body>

</html>