<!doctype html>
<html class="no-js" lang="">


<!-- Mirrored from htmldemo.net/minoan-v1/minoan/index-4.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 17 Feb 2024 13:30:20 GMT -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Aromatica</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/logo/favicon.ico">

    <!-- Google Fonts
		============================================ -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- 
    Toastify css link
    ============================= -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <!-- Font Awesome CSS
		============================================ -->
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <!-- Mean Menu CSS
		============================================ -->
    <link rel="stylesheet" href="assets/css/meanmenu.min.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="assets/css/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/owl.theme.css">
    <link rel="stylesheet" href="assets/css/owl.transitions.css">
    <!-- nivo-slider css
		============================================ -->
    <link rel="stylesheet" href="assets/css/nivo-slider.css">
    <!-- Price slider css
		============================================ -->
    <link rel="stylesheet" href="assets/css/jquery-ui-slider.css">
    <!-- Simple Lence css
		============================================ -->
    <link rel="stylesheet" type="text/css" href="assets/css/jquery.simpleLens.css">
    <link rel="stylesheet" type="text/css" href="assets/css/jquery.simpleGallery.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="assets/css/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="assets/css/normalize.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="assets/css/main.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="assets/style.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="assets/css/responsive.css">

</head>


<style>
    .quantity {
        display: flex;
        align-items: center;
    }

    .quantity input {
        width: 30px;
        /* Adjust the width as needed */
        text-align: center;
        margin: 0 5px;
    }
</style>



<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <!-- Header Area -->
    <div class="header-area home-4-header-area">
        <!-- Header top bar -->
        <div class="header-top-bar">
            <div class="container">
                <div class="header-top-inner">
                    <div class="row">
                        <div class="col-md-8 col-sm-12">
                            <div class="header-top-left">
                                <div class="phone">
                                    <label>Call us:</label> (+88) 01737803547
                                </div>
                                <div class="e-mail">
                                    <label>Email:</label> admin@bootexperts.com
                                </div>
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div><!-- End Header Top bar -->
        <!-- Header bottom -->
        <div class="header-bottom another-home-header-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-3 col-sm-12">
                        <div class="heder-bottom-left">
                            <!-- Header logo -->
                            <div class="header-logo">
                                <a href="index.html"><img src="assets/img/logo/logo-2.webp" alt="logo"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-9 col-sm-12">
                        <div class="header-bottom-right">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="header-search-cart-area">
                                        <!-- Header Cart Area-->
                                        <div class="header-cart-area">
                                            <div class="header-cart">
                                                <ul>
                                                    <li>
                                                        <a href="/cart">
                                                            <i class="fa fa-shopping-cart"></i>
                                                            <span class="my-cart">My cart</span>
															<% if(userCart){%>
																<% if(userCart.items.length > 0){%>
                                                                    <span class="badge"><%=userCart.items.length%></span>
                                                                    <%}%>
                                                                <%}%>
                                                        </a>
                                                    </li>

                                                    <li class="mt-2">
                                                        <a href="/cart">
                                                            <i class="fa fa-shopping-cart"></i>
                                                            <span class="my-cart">Wishlist</span>
                                                            <%if(userWishlist){%>
																<% if(userWishlist.products.length > 0){%>
															<span class="badge"><%= userWishlist.products.length%></span>
															<%}%>
														<%}%>
                                                        </a>
                                                    </li>
                                               
                                                </ul>
                                            </div>
                                        </div><!-- End Header Cart Area-->
                                        <!-- Header Search -->
                                        <div class="header-search">
                                            <form action="#">
                                                <input type="text" placeholder="SEARCH...">
                                                <button type="button" class="btn"><i class="fa fa-search"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- Main Menu Area -->
                                    <div class="main-menu-area another-home-mainmenu-area home-4-main-menu-area">
                                        <!-- Main Menu -->
                                        <div class="main-menu d-none d-lg-block">
                                            <nav>
                                                <ul class="main-ul">
                                                    <li class="sub-menu-li"><a href="/" class="active">Home<i
                                                                class=""></i></a>
                                                    </li>

                                                    <li><a href="/shop"><span class="label-menu">Sale</span> Shop<i
                                                                class=""></i></a>
                                                    </li>

                                                    <li class="small-megamenu-li"><a href="shop.html">About us<i
                                                                class=""></i></a>
                                                    </li>

                                                    <li><a href="shop.html">Contact<i class=""></i></a>
                                                    </li>

                                                    <li class="sub-menu-li"><a href="#" class="new-arrivals">Blog<i
                                                                class=""></i></a>
                                                    </li>


                                                    <% if (locals.user) { %>
                                                        <li class="dropdown nav-item">
                                                            <a class="" data-bs-toggle="dropdown" href="#"
                                                                id="dropdownAccount" aria-expanded="false">
                                                                Account </a>
                                                            <!-- <img class="svgInject" alt="Account" src="" style="height: 25px; width: 25px; margin-top: 2px;"> -->

                                                            <div class="dropdown-menu dropdown-menu-end"
                                                                aria-labelledby="dropdownAccount">
                                                                <a class="dropdown-item" href="/profile"><i
                                                                        class="material-icons md-perm_identity"></i>
                                                                    Profile</a>
                                                                <div class="dropdown-divider"></div>
                                                                <a class="dropdown-item text-danger" href="/logout"><i
                                                                        class="material-icons md-exit_to_app"></i>
                                                                    Logout</a>
                                                            </div>
                                                        </li>
                                                        <% } else { %>
                                                            <!-- Displayed when the user is not logged in -->
                                                            <li class="ml-25 pr-5"><a href="/login">Login</a></li>

                                                            <% } %>
                                                </ul>
                                            </nav>
                                        </div>
                                        <!-- End Main Menu -->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Area ------------------------------------------------------------------------->





    <section class="content-main container">
        <div class="content-header">
            <div>
                <hr>
                <h2 class="content-title card-title">Order detail</h2>
            </div>
        </div>

        <div class="card">
            <header class="card-header">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                        <!-- <span>
                        <i class="material-icons md-calendar_today"></i> <b>Wed, Aug 13, 2020, 4:34PM</b>
                    </span> <br>
                    <small class="text-muted" style="font-size: medium; font-weight: 400;">Order ID: </small> -->
                    </div>

                </div>
            </header> <!-- card-header end// -->
            <br>
            <div class="card-body">
                <div class="row mb-50 mt-20 order-info-wrap bg-light">
                    <div class="col-md-4 text-center">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-person"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Customer</h6>
                                <p class="mb-1">
                                    Name :<b>
                                        <%=order.user.name%>
                                    </b>
                                    <template class="__cf_email__"
                                        data-cfemail="e2838e879aa2879a838f928e87cc818d8f">[email&#160;protected]</template>
                                    <br>Mobile :<b>
                                        <%=order.user.mobile%>
                                    </b>
                                </p>
                                <!-- <a href="#">View profile</a> -->
                            </div>
                        </article>
                    </div> <!-- col// -->
                    <div class="col-md-4 text-center">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-local_shipping"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Order info</h6>
                                <p class="mb-1">
                                    Order Id : <b>
                                        <%=order._id%>
                                    </b> <br> Pay method :<b>
                                        <%=order.paymentMethod%>
                                    </b> <br> Status:<b>
                                        <%=order.status%>
                                    </b>
                                </p>
                                <!-- <a href="#">Download info</a> -->
                            </div>
                        </article>
                    </div> <!-- col// -->
                    <div class="col-md-4 text-center">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-place"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Deliver to</h6>
                                <p class="mb-1">
                                    City: <b>
                                        <%=order.address.city%>, <%=order.address.state%>
                                    </b>
                                </p>
                                <p class="mb-1">
                                    Address : <b>
                                        <%=order.address.addressLine%>, <%=order.address.pincode%>,
                                    </b>
                                    <input type="hidden" id="orderId" name="orderId"
                                        value="<%= order.address.addressId%>">
                                    <input type="hidden" name="paymentMethod" id="paymentMethod"
                                        value="<%= order.paymentMethod%>">
                                </p>
                                <!-- <a href="#">View profile</a> -->
                            </div>
                        </article>
                    </div> <!-- col// -->
                </div> <!-- row // -->
                <br>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th width="40%" class="fw-bold">Product</th>

                                        <th width="20%" class="fw-bold text-center">Unit Price</th>
                                        <th width="20%" class="fw-bold text-center">Quantity</th>
                                        <th width="20%" class="fw-bold text-end text-center">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% order.items.forEach((item,index)=> {%>
                                        <tr>
                                            <td>
                                                <a class="itemside" href="#">
                                                    <div class="left">
                                                        <img src="/uploads/product-images/<%=item.productId.productImage[0]%>"
                                                            width="40" height="40" class="img-xs" alt="Product image">
                                                    </div>
                                                    <div class="info" style="font-size: 12px;">
                                                        <%=item.productId.productName%>
                                                    </div>
                                                </a>
                                            </td>

                                            <td class="text-center" style="vertical-align: middle; font-size: 12px;">
                                                Rs.<%=item.productId.salePrice%>.00</td>

                                            <td class="text-center" style="vertical-align: middle; font-size: 12px;">
                                                <%=item.quantity%>
                                            </td>
                                            <td class="text-end text-center"
                                                style="vertical-align: middle; font-size: 12px;"> Rs.<%=item.price%>.00
                                            </td>
                                        </tr>
                                        <%})%>
                                            <tr>
                                                <td colspan="4">
                                                    <article class="float-end">
                                                        <div class="order-summary">
                                                            <div class="order-summary-row">
                                                                <div class="order-summary-label fs-5">Grand total : Rs.
                                                                    <%=order.totalCost%>.00
                                                                </div>
                                                                <div class="order-summary-value fs-5"></div>
                                                            </div>
                                                            <div class="order-summary-row">
                                                                <div class="order-summary-label">Status :
                                                                    <% if(order.status==="pending" ){%>
                                                                        <span
                                                                            class="badge rounded-pill alert-warning text-warning"
                                                                            style="font-size: 12px;">
                                                                            <%=order.status%>
                                                                        </span>
                                                                        <%} else if(order.status==="processing" ){%>
                                                                            <span
                                                                                class="badge rounded-pill alert-secondary text-secondary"
                                                                                style="font-size: 12px;">
                                                                                <%=order.status%>
                                                                            </span>
                                                                            <%} else if(order.status==="shipped" ){%>
                                                                                <span
                                                                                    class="badge rounded-pill alert-info text-info"
                                                                                    style="font-size: 12px;">
                                                                                    <%=order.status%>
                                                                                </span>
                                                                                <%} else if(order.status==="delivered"
                                                                                    ){%>
                                                                                    <span
                                                                                        class="badge rounded-pill alert-success text-success"
                                                                                        style="font-size: 12px;">
                                                                                        <%=order.status%>
                                                                                    </span>
                                                                                    <%} else
                                                                                        if(order.status==="cancelled"
                                                                                        ){%>
                                                                                        <span
                                                                                            class="badge rounded-pill alert-danger text-danger"
                                                                                            style="font-size: 12px;">
                                                                                            <%=order.status%>
                                                                                        </span>
                                                                                        <%}else
                                                                                            if(order.status==="returned"
                                                                                            ){%>
                                                                                            <span
                                                                                                class="badge rounded-pill alert-primary text-primary"
                                                                                                style="font-size: 12px;">
                                                                                                <%=order.status%>
                                                                                            </span>
                                                                                            <%} else
                                                                                                if(order.status==="return pending"
                                                                                                ){%>
                                                                                                <span
                                                                                                    class="badge rounded-pill alert-danger text-danger"
                                                                                                    style="font-size: 12px;">
                                                                                                    <%=order.status%>
                                                                                                </span>
                                                                                                <%}else
                                                                                                    if(order.status==="payment failed"
                                                                                                    ){%>
                                                                                                    <span
                                                                                                        class="badge rounded-pill alert-danger text-danger"
                                                                                                        style="font-size: 12px;">
                                                                                                        <%=order.status%>
                                                                                                    </span>
                                                                                                    <%}%>
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <% if(order.status !=="cancelled" && order.status !=="delivered"
                                                            && order.status !=="returned" && order.status
                                                            !=="return pending" && order.status !=="payment failed" ){%>
                                                            <button class="btn btn-danger return-order-button"
                                                                onclick="" id="cancelOrderBtn">
                                                                <span>Cancel Order</span>
                                                            </button>
                                                            <%}%>
                                                                <!-- <% const expiryOptions = { day: '2-digit', month: '2-digit', year: 'numeric' }; %> -->
                                                                <% if(order.status==="delivered" ){%>
                                                                    <button class="btn btn-primary return-order-button"
                                                                        id="returnOrderBtn" onclick="">
                                                                        <span>Return Order</span>
                                                                    </button>
                                                                    <%}%>

                                                                        <%if(order.status==="payment failed" ){%>
                                                                            <button
                                                                                class="btn btn-success return-order-button"
                                                                                id="payAgainButton"
                                                                                data-paymentMethod="razorpay">
                                                                                <span>Pay again</span>
                                                                            </button>
                                                                            <%}%>
                                                                                <!-- <div class="expiry-date">Expiry Date: </div>
                                            <div class="expiry-date">Expiry Date: Expired</div>
                                            <div class="cannot-return">Cannot be returned</div> -->
                                                    </article>
                                                </td>

                                            </tr>
                                            <tr>
                                                <% if(order && order.status==='delivered' ){%>
                                                    <td colspan="4">
                                                        <input type="hidden" value="<%= JSON.stringify(order)%>"
                                                            id="orderData">
                                                        <button class="btn btn-secondary float-start ml-5"
                                                            id="invoiceButton" onclick="invoiceDownload()">Download
                                                            Invoice</button>
                                                    </td>
                                                    <%}%>
                                            </tr>
                                </tbody>
                            </table>
                            <input type="hidden" id="orderDetails" value="">
                            <input type="hidden" name="" id="productDetails" value="">
                        </div> <!-- table-responsive// -->
                    </div> <!-- col// -->
                    <div class="col-lg-1"></div>
                </div>
            </div> <!-- card-body end// -->
        </div> <!-- card end// -->
    </section> <!-- content-main end// -->



    <!-- Modal for cancel order -->
    <div class="modal" tabindex="-1" id="cancelOrderModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Cancel Order</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="cancelOrderForm">
                        <div class="mb-3">
                            <label for="cancellationReason" class="form-label">Reason for Cancellation<sup
                                    class="text-danger">*</sup></label>
                            <div><span class="text-danger" id="reasonError"></span></div>
                            <textarea class="form-control" id="cancellationReason" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-danger">Confirm Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal for return order -->
    <div class="modal" tabindex="-1" id="returnOrderModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Return Order</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="returnOrderForm">
                        <div class="mb-3">
                            <label for="returnReason" class="form-label">Reason for Return<sup
                                    class="text-danger">*</sup></label>
                            <div><span class="text-danger" id="returnReasonError"></span></div>
                            <textarea class="form-control" id="returnReason" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Sent Request</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content modalLoding">
                <!-- <div class="modal-header border-0 bg-light" > -->
                <h5 class="modal-title text-center text-dark mt-4" id="loadingModalLabel">Placing order</h5>
                <!-- </div> -->
                <div class="modal-body text-center">
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <p class="mt-2 text-dark">Please wait while we process your order</p>
                </div>
            </div>
        </div>
    </div>





    <!-- Footer area start---------------------------------------------------------------------------->
    <div class="footer-area mt-5">
        <!-- Footer Top -->
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <!-- Footer Left -->
                        <div class="footer-left">
                            <!-- Footer Logog -->
                            <div class="footer-logo">
                                <a href="index.html"><img src="assets/img/logo/logo-footer.webp" alt="logo"></a>
                            </div>
                            <div class="footer-static-content">
                                <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium
                                    lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram.</p>
                            </div>
                            <div class="footer-payment">
                                <h2>Payments</h2>
                                <ul>
                                    <li><a href="#"><img src="assets/img/logo/payment.webp" alt="payment"></a></li>
                                </ul>
                            </div>
                        </div><!-- End Footer Left -->
                    </div>
                    <div class="col-lg-8 footer-right-col">
                        <!-- Footer Right -->
                        <div class="footer-right">
                            <div class="footer-newsletter">
                                <h2>Newsletter</h2>
                                <form action="#">
                                    <input type="text" placeholder="Your Email" title="Sign up for our newsletter"
                                        required>
                                    <button type="submit">Subscribe</button>
                                </form>
                            </div>
                            <div class="information-link">
                                <div class="single-information-link">
                                    <h2>Informations</h2>
                                    <ul>
                                        <li><a href="#">Sitemap</a></li>
                                        <li><a href="#">Privacy Policy</a></li>
                                        <li><a href="#">Your Account</a></li>
                                        <li><a href="#">Advanced Search</a></li>
                                        <li><a href="#">Contact Us</a></li>
                                    </ul>
                                </div>
                                <div class="single-information-link">
                                    <h2>other static link</h2>
                                    <ul>
                                        <li><a href="#">Product Recall</a></li>
                                        <li><a href="#">Gift Vouchers</a></li>
                                        <li><a href="#">Returns and Exchanges</a></li>
                                        <li><a href="#">Shipping Options</a></li>
                                        <li><a href="#">Help & FAQs</a></li>
                                    </ul>
                                </div>
                                <div class="single-information-link">
                                    <h2> My account </h2>
                                    <ul>
                                        <li><a href="#">My orders</a></li>
                                        <li><a href="#">My credit slips</a></li>
                                        <li><a href="#">My addresses</a></li>
                                        <li><a href="#">My personal info</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- End Footer Left -->
                    </div>
                </div>
            </div>
        </div><!-- End Footer Top -->
        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <div class="container">
                <!-- Copyright -->
                <div class="copyright">
                    <p>Copyright &copy; <a href="https://hasthemes.com/">HasThemes</a> All Rights Reserved.</p>
                </div>
            </div>
        </div><!-- End Footer Bottom -->
    </div>
    <!-- End Footer area -->
    <!-- QUICKVIEW PRODUCT -->
    <div id="quickview-wrapper">
        <!-- Modal -->
        <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-product">
                            <div class="product-images">
                                <div class="main-image images">
                                    <img alt="product" src="assets/img/product/sp2.webp">
                                </div>
                            </div><!-- .product-images -->

                            <div class="product-info">
                                <h1>Cras neque metus</h1>
                                <div class="price-box">
                                    <p class="price"><span class="special-price"><span
                                                class="amount">$155.00</span></span></p>
                                </div>
                                <a href="single-product.html" class="see-all">See all features</a>
                                <div class="quick-add-to-cart">
                                    <form method="post" class="cart">
                                        <div class="add-to-box add-to-box2">
                                            <div class="add-to-cart">
                                                <div class="input-content">
                                                    <label for="qty">Qty:</label>
                                                    <input type="button" value="-" onclick="" class="qty-decrease">
                                                    <input type="text" name="qty" id="qty" maxlength="12" value="1"
                                                        title="Qty" class="input-text qty">
                                                    <input type="button" value="+" onclick="" class="qty-increase">
                                                </div>
                                                <button class="btn" type="button"><span>Add to cart</span></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="quick-desc">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est
                                    tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis
                                    justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id
                                    nulla.
                                </div>
                                <div class="social-sharing">
                                    <div class="widget widget_socialsharing_widget">
                                        <h3 class="widget-title-modal">Share this product</h3>
                                        <ul class="social-icons">
                                            <li><a target="_blank" title="Facebook" href="#"
                                                    class="facebook social-icon"><i class="fa fa-facebook"></i></a></li>
                                            <li><a target="_blank" title="Twitter" href="#"
                                                    class="twitter social-icon"><i class="fa fa-twitter"></i></a></li>
                                            <li><a target="_blank" title="Pinterest" href="#"
                                                    class="pinterest social-icon"><i class="fa fa-pinterest"></i></a>
                                            </li>
                                            <li><a target="_blank" title="Google +" href="#"
                                                    class="gplus social-icon"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a target="_blank" title="LinkedIn" href="#"
                                                    class="linkedin social-icon"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!-- .product-info -->
                        </div><!-- .modal-product -->
                    </div><!-- .modal-body -->
                </div><!-- .modal-content -->
            </div><!-- .modal-dialog -->
        </div><!-- END Modal -->
    </div><!-- END QUICKVIEW PRODUCT -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/easyinvoice/dist/easyinvoice.min.js"></script>



    <script>

        function invoiceDownload() {

            let orderDetails = JSON.parse(document.getElementById('orderData').value)
            console.log(orderDetails);

            Swal.fire({
                title: 'Are you sure!',
                text: 'Are you want to download the invoice',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Ok',
                cancelButtonText: 'Cancel'
            }).then((result) => {
                if (result.isConfirmed) {

                    let products = orderDetails.items.map((item) => {
                        return {
                            quantity: item.quantity,
                            description: item.productId.productName,
                            tax: 0,
                            price: item.productId.salePrice
                        }
                    });

                    const data = {
                        "apiKey": "free",
                        "mode": "development",
                        "documentTitle": "INVOICE Aromatica",
                        "currency": "INR",
                        "taxNotation": "GST",
                        "marginTop": 20,
                        "marginRight": 20,
                        "marginLeft": 20,
                        "marginBottom": 20,
                        "logo": "https://public.easyinvoice.cloud/img/logo_en_original.png",
                        "sender": {
                            "company": "Aromatica",
                            "address": "Maradu, Kochi",
                            "zip": "1234 AB",
                            "city": "Kochi",
                            "country": "India"
                        },
                        "client": {
                            "company": orderDetails.address.name,
                            "address": orderDetails.address.addressLine,
                            "zip": orderDetails.address.pincode,
                            "city": orderDetails.address.city,
                            "country": "India"
                        },
                        "invoiceNumber": orderDetails._id,
                        "invoiceDate": new Date().toLocaleDateString(),
                        "products": products,
                        "bottomNotice": "Thank you for your business."
                    };
                    easyinvoice.createInvoice(data, function (result) {
                        easyinvoice.download('Aromatica_invoice.pdf', result.pdf);
                    });
                }
            })
        }


        //     function invoiceDownload() {
        //     let orderDetails = JSON.parse(document.getElementById('orderData').value);

        //     $.ajax({
        //         url: '/generateInvoice',
        //         method: 'post',
        //         contentType: 'application/json',
        //         data: JSON.stringify({ orderDetails: orderDetails }),
        //         success: (response) => {
        //             console.log('Pdf downloaded success');
        //             const blob = new Blob([response], { type: 'application/pdf' });
        //             const link = document.createElement('a');
        //             link.href = URL.createObjectURL(blob);
        //             link.download = `Aromatica_invoice.pdf`;
        //             link.click();
        //         },
        //         error: (error) => {
        //             Swal.fire({
        //                 title: 'Oops!',
        //                 text: 'Error in downloading pdf',
        //                 icon: 'error',
        //                 confirmButtonText: 'Ok'
        //             });
        //         }
        //     });
        // }






        function toggleLoadingModal() {
            $('#loadingModal').modal('show');
        }

        // pay again razorpay
        $(document).ready(function () {
            $('#payAgainButton').click(function (event) {
                event.preventDefault();

                const selectedAddressId = $('#orderId').val();
                const paymentMethod = $('#paymentMethod').val();


                $.ajax({
                    url: '/initiateRazorpay',
                    method: 'post',
                    success: (response) => {
                        if (response.success) {

                            openRazorpayModal(response.razorpayOrder, response.keyId, response.user, selectedAddressId, paymentMethod);
                        }
                    },
                    error: (error) => {
                        console.log("Error in ajax :", error);
                        Swal.fire({
                            title: 'Oops',
                            text: 'Failed to placed your order, please try agian',
                            icon: 'error'
                        });
                    }
                })
            })
        });



        function openRazorpayModal(razorpayOrder, keyId, user, selectedAddressId, paymentMethod) {

            const options = {
                key: keyId,
                amount: razorpayOrder.amount,
                currency: razorpayOrder.currency,
                name: 'Aromatica',
                order_id: razorpayOrder._id,
                handler: function () {

                    placeOrder(selectedAddressId, paymentMethod);

                },
                prefill: {
                    name: user.name,
                    email: user.email,
                    contact: user.mobile
                },
                theme: {
                    color: '#F37254',

                }
            };
            let rzp = new Razorpay(options);

            rzp.on('payment.failed', function (response) {
                handleRazorapyFailure(selectedAddressId, paymentMethod)

            });
            rzp.open();

        }



        function placeOrder(selectedAddressId, paymentMethod) {

            $.ajax({
                url: "/placeOrder",
                method: "post",
                data: {
                    selectAddressId: selectedAddressId,
                    paymentMethod: paymentMethod
                },
                success: (response) => {
                    if (response.success) {
                        toggleLoadingModal();
                        setTimeout(() => {

                            window.location.href = "/orderSuccess?orderId=" + response.orderId

                        }, 4000);
                    }
                    else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Failed to initiate payment, please try again.'
                        });
                    }
                },
                error: (error) => {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong, please try again'
                    })
                }
            })
        }



        function handleRazorapyFailure(selectedAddressId, paymentMethod) {
            //  alert('enter the failure function')
            $.ajax({
                url: '/savaRazorpayFailure',
                method: 'post',
                data: {
                    selectedAddressId: selectedAddressId,
                    paymentMethod: paymentMethod
                },
                success: (response) => {
                    if (response.success) {
                        Toastify({
                            text: 'Payment failed',
                            duration: 3000,
                            close: true,
                            gravity: 'top',
                            position: 'left',
                            backgroundColor: '#dc3545',
                        }).showToast();
                    }
                    else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Payment failure failed, please contact support.',

                        });
                    }
                },
                error: (error) => {
                    console.log("Error in ajax :", error);
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Somthing went wrong, please try again',

                    });
                }
            })
        }





        // return order
        $(document).ready(function () {
            $('#returnOrderBtn').click(function () {

                $('#returnOrderModal').modal('show')

                $('#returnOrderForm').submit(function (event) {
                    event.preventDefault();

                    const returnReason = $('#returnReason').val()

                    if (returnReason.trim() === '' || returnReason.trim() === null) {
                        $('#returnReasonError').text('Field is required');
                        return false;
                    }
                    else if (returnReason.trim().length <= 9) {
                        $('#returnReasonError').text('Enter atleast 10 characters');
                        return false;
                    }


                    if (returnReason) {
                        $('#returnOrderModal').modal('hide');
                    }


                    $.ajax({
                        url: `/returnOrder/<%=order._id%>`,
                        method: 'post',
                        contentType: 'application/json',
                        data: JSON.stringify({ reason: returnReason }),
                        success: (response) => {
                            if (response.success) {
                                Toastify({
                                    text: response.message,
                                    duration: 3000,
                                    close: true,
                                    backgroundColor: "#28a745",
                                    style: {
                                        fontSize: "12px",

                                    }
                                }).showToast();
                                setTimeout(() => {
                                    location.reload()
                                }, 3000)

                            }
                            else {
                                Swal.fire('Warning!', response.message, 'warning')
                            }

                        },
                        error: (error) => {
                            console.log(`ajaxxx error => ${error}`)
                            Swal.fire({
                                title: "Error!",
                                text: "Somthing went wrong please try again",
                                icon: 'error',
                                timer: 3000
                            })
                        }
                    })
                })

            })
        })





        // cancel order
        $(document).ready(function () {
            $('#cancelOrderBtn').click(function () {

                $('#cancelOrderModal').modal('show')

                $('#cancelOrderForm').submit(function (event) {
                    event.preventDefault()

                    const cancellationReason = $('#cancellationReason').val()

                    if (cancellationReason.trim() === '' || cancellationReason.trim() === null) {
                        $('#reasonError').text('Field is required');
                        return false
                    }
                    else if (cancellationReason.trim().length <= 9) {
                        $('#reasonError').text('Enter atleast 10 characters');
                        return false
                    }

                    if (cancellationReason) {
                        $('#cancelOrderModal').modal('hide')
                    }

                    $.ajax({
                        url: '/cancelOrderByUser/<%=order._id%>',
                        method: 'post',
                        contentType: 'application/json',
                        data: JSON.stringify({ reason: cancellationReason }),
                        success: (response) => {
                            if (response.status === true) {

                                Swal.fire("Cancelled!", response.message, 'success')
                                    .then(() => {
                                        location.reload()
                                    });
                            }
                            else {
                                Swal.fire("Warning!", response.message, 'warning');
                            }
                        },
                        error: (error) => {
                            console.log("ajaxxx error", error);
                            Swal.fire({
                                title: "Error!",
                                text: "Somthing went wrong please try again",
                                icon: 'error',
                                timer: 3000
                            })
                        }
                    })


                })
            });
        });
    </script>




    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Toastify js -->
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>


    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- jQuery 1.12.4 (remove if not needed) -->
    <!-- <script src="assets/js/vendor/jquery-1.12.4.min.js"></script> -->

    <!-- Nivo Slider JS -->
    <script src="assets/js/jquery.nivo.slider.pack.js"></script>

    <!-- Mean Menu JS -->
    <script src="assets/js/jquery.meanmenu.min.js"></script>

    <!-- Wow JS -->
    <script src="assets/js/wow.min.js"></script>

    <!-- Price-slider JS -->
    <script src="assets/js/jquery-price-slider.js"></script>

    <!-- Modernizr JS -->
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>

    <!-- Simple Lens JS -->
    <script type="text/javascript" src="assets/js/jquery.simpleGallery.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery.simpleLens.min.js"></script>

    <!-- Owl.carousel JS -->
    <script src="assets/js/owl.carousel.min.js"></script>

    <!-- ScrollUp JS -->
    <script src="assets/js/jquery.scrollUp.min.js"></script>

    <!-- jQuery Collapse JS -->
    <script src="assets/js/jquery.collapse.js"></script>

    <!-- Plugins JS -->
    <script src="assets/js/plugins.js"></script>

    <!-- Main JS -->
    <script src="assets/js/main.js"></script>


</body>

</html>